<div class="flex flex-col flex-auto items-center sm:justify-center min-w-0">
    <div class="w-full sm:w-auto py-8 px-4 sm:p-12 sm:rounded-2xl sm:shadow sm:bg-card">
        <div class="w-full max-w-80 sm:w-80 mx-auto sm:mx-0">

            <form
                class="mt-8"
                [formGroup]="formulario"
                #signInNgForm="ngForm">

                <mat-form-field class="w-full">
                    <mat-label>Nome</mat-label>
                    <input
                        id="nome"
                        matInput
                        type="string"
                        [formControlName]="'nome'">
                </mat-form-field>


                <mat-form-field class="w-full">
                    <mat-label>tamanho</mat-label>
                    <input
                        id="tamanho"
                        matInput
                        type="number"
                        [formControlName]="'tamanho'"
                        >
                </mat-form-field>

                <!-- Submit button -->
                <button
                    class="fuse-mat-button-large w-full mt-6"
                    mat-flat-button
                    [color]="'primary'"
                    (click)="updatePet()"
                    >
                    <span >
                        Adicionar
                    </span>
                </button>
            </form>
        </div>
    </div>
</div>

