<!-- Schedule -->
<div>
<div class="alarm" *ngFor="let alert of alerts">
    <!-- <div class="flex flex-col sm:flex-row items-start "> -->
            <mat-button-toggle-group
                value="today"
                #scheduleDaySelector="matButtonToggleGroup">
                <div value="tomorrow">{{ alert.hora }}</div>
                <div value="tomorrow">{{ alert.gramas }}g</div>
                <mat-button-toggle value="today">
                    <mat-icon
                    class="icon-size-5 text-hint"
                    [svgIcon]="'heroicons_solid:clock'">
                    </mat-icon>
                </mat-button-toggle>
            </mat-button-toggle-group>
</div>
<!-- </div> -->
<div class="add">

    <div>
        <button
        [routerLink]="['../adicionar']"
        class="fuse-mat-button-rounded"
        mat-flat-button
        [color]="'primary'">
        <mat-icon
            class="icon-size-5"
            [svgIcon]="'heroicons_solid:plus'"></mat-icon>
        <span class="ml-2">Adicionar</span>
    </button>
    </div>
</div>
</div>
