<p>
  adicionar works!
</p>
<!--  -->
<!-- <ng-container *ngFor="let task of note.tasks">
    <div class="group flex items-center">
        <input
            class="w-full px-1 py-0.5"
            [ngClass]="{'text-secondary line-through': task.completed}"
            [placeholder]="'12:00'"
            [(ngModel)]="alert.hora">
        <input
            class="w-full px-1 py-0.5"
            [ngClass]="{'text-secondary line-through': task.completed}"
            [placeholder]="'500g'"
            [(ngModel)]="alert.gramas">

            <button type="submit" class="btn btn-primary" (click)="">Salvar</button>
    </div>
</ng-container> -->
<!--  -->
